<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/stylesheets/style.css" />
  <title>Aurora List</title>
</head>
<body>
  <%- include('./partials/_navbar.ejs') %>
  <div class="intro">
    <div class="intro-content">
        <h2 class="intro-header">Your wishlist, reimagined.</h2>
        <p class="intro-text">Save what you want, discover what others love, and organize it all in one place.</p>
        <a class="introLinks" href="/items/new">Add new item to Wishlist!</a>
    </div>
  </div>
    <h2 class="sub-header">Wishlist Items</h2>
    <div class="cards-row">
        <% allItems.forEach(eachItem=> { %>
            <div class=card>
                <div class="card-img-div">
                    <img src="<%= eachItem.imageUrl %>" alt="image of <%= eachItem.itemName %>" class="card-img">
                </div>
                <div class="card-body">
                    <h3 class="card-title"><%= eachItem.itemName %></h3>
                    <div class="card-content">
                        <%if(!eachItem.isBought){%>
                            <p class="card-text">Purchase Status: Pending</p>
                        <% }else{%>
                            <p class="card-text">Purchase Status: Bought</p>
                        <% }%>
                        <a href="/items/<%= eachItem._id %>" class="card-btn">Item details</a> 
                        <p class="card-text">Posted by: <%= eachItem.owner.username %></p>                     
                    </div>
                </div>
            </div>
        <% }) %> 
    </div>
    <div class="view-all-wrapper">
        <a href="/items" class="view-btn">See More</a>
    </div>
    
    <h2 class="sub-header">My Wishlist Items</h2>
    <div class="cards-row">
        <% userItems.forEach(eachItem=> { %>
            <div class=card>
                <div class="card-img-div">
                    <img src="<%= eachItem.imageUrl %>" alt="image of <%= eachItem.itemName %>" class="card-img">
                </div>
                <div class="card-body">
                    <h3 class="card-title"><%= eachItem.itemName %></h3>
                    <%if(!eachItem.isBought){%>
                        <p class="card-text">Purchase Status: Pending</p>
                    <% }else{%>
                        <p class="card-text">Purchase Status: Bought</p>
                    <% }%>
                    <a href="/items/<%= eachItem._id %>" class="card-btn">Item details</a>
                </div>
            </div>
        <% }) %>
    </div>
    <div class="view-all-wrapper">
        <a href="/items/mine" class="view-btn">See All</a>
    </div>
  <%- include('./partials/_footer.ejs') %>
</body>
</html>