<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <title><%= item.itemName %></title>
</head>
<body>
    <%- include('../partials/_navbar.ejs') %>
    <div class="item">
        <div class="item-img">
            <img src="<%= item.imageUrl %>" alt="">
        </div>
        <div class="item-details">
            <h1 class=" main-header item-header"><%= item.itemName %></h1>
            <div class="item-content">
                    <p><b>Retail Price: </b><%= item.retailPrice %> BD</p> 
                    <p><b>Item Category: </b><%= item.category %></p> 
                    <p><b>Purchase Link: </b><a href="<%= item.purchaseLink %>"><%= item.itemName %></a></p> 

                    <%if(!item.isBought){%>
                        <p><b>Purchase Status: </b> Pending</p>
                    <% }else{%>
                        <p><b>Purchase Status: </b>Bought</p>
                    <% }%> 

                    <%if(item.notes !=='' ){%>
                        <p><b>Notes: </b><%= item.notes %> </p>
                    <% }%>
                    <p><b>Posted by: </b><%= item.owner.username %> </p>
            </div>
            <div class="actions">
                <form action="/items/<%= item._id%>?_method=DELETE" method=post>
                    <button class="actions-text action-one button">Mark as Purchased</button>
                </form>

                <div class="action-secondary">
                    <% if(item.owner._id.equals(user._id)){ %>
                        <a class="actions-text action-two button" href="/items/<%= item._id %>/edit">Edit Item</a>
                        <form action="/items/<%= item._id%>?_method=DELETE" method=post>
                            <button class="actions-text action-two button">Delete Item</button>
                        </form>
                    <%}%>
                </div>
            </div>
        </div>
    </div>
    <%- include('../partials/_footer.ejs') %>
</body>
</html>